/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
* {
  font-family: Inter, sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;

}

nav {
  display: flex;
  align-items: center;
  background-color: #f55a5a;
  height: 55px;
  /* padding: 30px 25px; */
}


.earth--logo {
  height: 24px;
  margin-right: 7px;
  margin-left: 40%;
}

.Card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img--container {
  height: 330px;
  width: 30%;
  display: inline-block;
  margin: 50px;
  margin-left: 10%;
  margin-right: 0px;
}

.card--img{
  height: 330px;
  width: 250px;
}

.card--stats {
  float: right;
  width: 50%;
  height: 168px;
  margin: 50px;
  margin-left: 0;
  margin-right: 10%;
}

.nav--title {
  font-weight: 300;
  color: white;
  margin: 0;
}


.first-line-stats {
  display: flex;
}

.path--img {
  height: 24px;
  margin-right: 7px;
}

.location {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
  padding-left: 5px;
  padding-right: 5px;
}

.link--map {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 12px;
  color: #918E9B;
  text-decoration-line: underline;
}


.spot--name {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  /* line-height: 30px; */
}


.date--visit {
  
font-family: Inter, sans-serif;
font-style: normal;
font-weight: 550;
font-size: 18px;
line-height: 20px;

color: #2B283A;
}


.description {
font-family: Inter, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 150%;
/* or 15px */

color: #2B283A; 
}